yajul-core/xsd/enum-types.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSPY v5 rel. 4 U (http://www.xmlspy.com) by Joshua Davis (private) -->
<!--W3C Schema generated by XMLSPY v5 rel. 4 U (http://www.xmlspy.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <xs:element name="enum-type">
    <xs:complexType>
      <xs:sequence maxOccurs="unbounded">
        <xs:element ref="enum-value" maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attribute name="id" type="xs:string" use="required"/>
      <xs:attribute name="constantClass" type="xs:string" use="optional"/>
      <xs:attribute name="valueClass" type="xs:string" use="optional"/>
      <xs:attribute name="defaultValueId" type="xs:integer" use="optional"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="enum-types">
    <xs:complexType>
      <xs:sequence maxOccurs="unbounded">
        <xs:element ref="enum-type" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="enum-value">
    <xs:complexType>
      <xs:attribute name="id" type="xs:integer" use="required"/>
      <xs:attribute name="xmlValue" type="xs:string" use="required"/>
      <xs:attribute name="textValue" type="xs:string" use="required"/>
    </xs:complexType>
  </xs:element>
</xs:schema>
