yajul-core/src/org/yajul/enumtype/enum-types.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSPY v5 rel. 4 U (http://www.xmlspy.com) by Joshua Davis (private) -->
<!--DTD generated by XMLSPY v5 rel. 4 U (http://www.xmlspy.com)-->
<!-- enum-types - This is the root element, which contains a list of enum-type elemets, and defines an EnumTypeMap. -->
<!ELEMENT enum-types (enum-type)>
<!-- enum-type - This element defines the values in an EnumType.
Attributes:
id : The unique id of the EnumType in the EnumTypeMap.
valueClass : [optional] The class of the values in the enum type, defaults to org.yajul.enum.EnumTypeValue.
setValueProperties : [optional] If set to true, the properties of the EnumValue (or subclass) will be automatically set from the XML attributes.  If false, subclasses must
override loadFromElement().
constantClass : [optional] An interface or class that contains equivalent Java constants that map to the enumerated values.
defaultValueId : [optional] The default EnumValue of this EnumType.
 -->
<!ELEMENT enum-type (enum-value+)>
<!ATTLIST enum-type
	id CDATA #REQUIRED
	valueClass CDATA #IMPLIED
	setValueProperties (true | false) #IMPLIED
	constantClass CDATA #IMPLIED
	defaultValueId CDATA #IMPLIED
>
<!-- enum-value - This element specifies the enumerated value that should exist inside an enumerated type. -->
<!ELEMENT enum-value EMPTY>
<!ATTLIST enum-value
	id CDATA #REQUIRED
	xmlValue CDATA #REQUIRED
	textValue CDATA #REQUIRED
>
